:host {
    display: block;
}

.empty-state {
    display: flex;
    min-height: 72px;
    align-items: center;
    justify-content: center;

    padding: 12px;

    color: #898983;
    font-size: 10px;
    text-align: center;
}