:host {
    display: block;
}

.financial-breakdown {
    padding: 32px;

    h1 {
        margin: 0 0 8px;
        color: #252521;
        font-size: 22px;
    }

    p {
        margin: 0;
        color: #73736d;
        font-size: 12px;
    }
}